.idea/
.vscode/
Server/node_modules/
client/node_modules/
Server/build/
Server/tmp/
Server/temp/
client/build/
client/tmp/
client/temp/
server/*.gql
server/package-lock.json
client/package-lock.json
.DS_Store
Server/.DS_Store
Server/**/.DS_Store
client/.DS_Store
client/**/.DS_Store
Server/yarn.lock
Server/yarn-error.log
